* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.settings {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  min-width: 20rem;
  width: 20rem;
  background-color: orange;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.9);
}
@media only screen and (max-width: 480px) {
  .settings {
      height: 100%;
      width: 100%;
  }
}